*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.showcase{

	position: absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	background: #000;
	color: #fff;
	z-index: 2;
	transition: 0.5s;

}

.showcase.active{

	right: 300px;
}

.menu{

	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;

}

.menu ul{

	position: relative;
	list-style: none;
}

.menu ul li a{

	text-decoration: none;
	color: #111;
	transition: 0.3s;
	
}

.menu ul li a:hover{

	color: #02a9f3;
	line-height: 3;
	letter-spacing: 4px;
}

.menu ul li{

	border-bottom: 1px solid #111;
}

.showcase header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 50px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.logo{

	text-transform: uppercase;
	cursor: pointer;
}



.toggle{

	position: relative;
	width: 60px;
	height: 60px;
	background: url('../img/menu-close.png');
	filter: invert(1);
	background-repeat: no-repeat;
	background-size: 2.2rem;
	background-position: center;
	cursor: pointer;
}

.toggle.active{

	background: url('../img/menu-open.png');
	filter: invert(1);
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: center;
	cursor: pointer;

}

.showcase video{

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
}

.overlay{

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #02a9f3;
	mix-blend-mode: overlay;


}

.text{
	position: relative;
	z-index: 10;
}

.text h2{
	font-size: 5em;
	font-weight: 800;
	line-height: 1em;
}

.text h3{
	font-size: 3em;
	font-weight: 500;
	line-height: 1em;
}

.text p{

	font-size: 1.2em;
	margin: .5rem;
	font-weight: 400;
	max-width: 700px;
}

.text a {
	display: inline-block;
	font-size: 1em;
	background: #fff;
	padding: 8px 25px;
	text-decoration: none;
	color: #111;
	margin-top: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 2s;
}
.text a:hover{

	letter-spacing: 6px;
}

.social img{

	width: 3rem;
}

.social{

	position: absolute;
	bottom: 20px;
	z-index: 10;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.social li{

	list-style: none;

}

.social li a {

	display: inline-block;
	margin-right: 1rem;
	transform: scale(0.8);
	filter: invert(1);
	transition: 0.5s;
}

.social li a:hover{

	transform: scale(0.8) translateY(-.7rem);

}

.me{
	position: relative;
	z-index: 10;
	border: 2px solid purple;
	transform: scale(0.8);
	border-radius: 50%;
}
.twitter{

	transform: scale(0.8);
	border-radius: .8rem;
}



@media(max-width: 768px){

	.showcase, .showcase header{

		padding: 30px;
	}

	.text h2{

		font-size: 2em;
	}

	.text h3{

		font-size: 1.2em;
	}

	.text p{

		font-size: .7rem;
	}

	.me{

		width: 4em;
		border-radius: 100%;
	}


	.text a{

		display: none;

	}

	.text-position{

		margin-bottom: 70px;
	}

	.social{

		top: 20rem;
		left: 1rem;
		transform: scale(0.5);
	}
}

@media(max-width: 475px){

	
	.text-position{

		margin-top: 100px;
	}

	#main-section{

		font-size: 1rem;
	}

	.text-position{

		margin-bottom: 4rem;
	}

	.social{

		top:35rem;
		left: 1rem;
		transform: scale(0.5);
	}


}

@media(max-width: 436px){

	.me{
		display: none;
	}

	.text-position{

		margin-top: 100px;
	}

	#main-section{

		font-size: 1rem;
	}

	.text-position{

		margin-bottom: 8rem;
	}

	.social{

		top:25rem;
		left: 1rem;
		transform: scale(0.5);
	}


}

#contact_me{

	margin-top: 3rem;
}

.jumbo-style{

	background: #e4e4e4;
	padding: 2rem;
	border-radius: .9rem;
}
.jumbo-style a{
	color: #fff;
	text-decoration: none;
}


.contact-form{
    background: #e4e4e4;
    border-radius: .9rem;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #0072ff;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
#header nav{

	background: #2a9d8f;
	color: white;

}

nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-adjust{

	margin-left: 3rem;

}

.logo-1{

	text-decoration: none;
	color: #fff;
	transition: 0.5s;
}

.logo-1:hover{

	letter-spacing: 5px;
}

.logo-1 h2{

	margin-right: 3rem;

}


#footer{

	background: #a9a9a9;
	padding: 2rem;
}


.social-1 img{

	width: 2rem;
	margin-right: 2rem;
	transition: 0.5s;
}

.social-1{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#footer{

	color: #000;
	background: #fff;
}
#footer .mail a{

	color: #000;
}

.footer-links{

	display: flex;
	flex-flow: wrap column;
	align-items: center;
	justify-content: center;
}
.footer-links ul{

	list-style: none;
}

.footer-links li a{

	text-decoration: none;
	color: #000;
	transition: 0.5s;

}

.footer-links li a:hover{

	letter-spacing: 3px;
}

.twitter-1{

	border-radius: .5rem;
	width: 1.6rem;
}


.social-1 li img:hover{

	transform: scale(0.8) translateY(-.7rem);

}

/*About Me Page Styling. The Carousel*/
#carousel-section{

	margin-top: 3rem;
}
/*Finished Carousel*/

#main-about{

	background: #1d3557;
	color: #f1faee;
}

/*Styling Info-section*/

.info-section{
	margin-top: 3rem;
	margin-bottom: 3rem;
	background: #3a86ff;
	padding: 2rem;
	border-radius: 1rem;
}

/*Finished Info-Section*/

/*Footer About Me*/
.footer-nav{

	display: flex;
	flex-wrap: wrap;
}
.footer-nav a{
	margin-left: 1rem;
	margin-right: 1rem;
}

#nav-color{
	background: #2a9d8f;
	color: #f1faee;
	height: 5em;

}

#brand-name, #my-brand{
	font-size: 2rem;
	color: #f1faee;
}

.mail-me a{

	text-decoration: none;
	color: #fff;
	transition: 0.5s;
}

.mail-me a:hover{
	letter-spacing: 2px;
	color: #7209b7;
}

/*My Portfolio Start*/

.box{

width: 9rem;
height: 8rem;
background: #ffc6ff;
margin: 0.3rem;
}

.box img{

    width: 9rem;
    height: 8rem;
}

#container{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
body{
    padding: 0.3rem;
    height: 100%;
    margin: auto;
}

.red-dot{

    width: 0.5rem;
    height: 0.5rem;
    margin-left: 5px;
    background: rgba(255, 11, 60, 0.849);
    border-radius: 50%;
    animation-name: twinkle-1;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;

}

.yellow-dot{

    width: 0.5rem;
    height: 0.5rem;
    margin-left: 5px;
    background: rgb(190, 255, 60);
    border-radius: 50%;
    animation-name: twinkle-1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
.green-dot{

    width: 0.5rem;
    height: 0.5rem;
    margin-left: 5px;
    background: rgb(7, 219, 0);
    border-radius: 50%;
    animation-name: twinkle-2;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    
}


@keyframes twinkle-1 {
    20% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }

  @keyframes twinkle-2 {
    20% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }

  @keyframes twinkle-2 {
    20% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }

.box-container{
    width: 9rem;
    height: 12rem;
    background: #457b9d;
    border-radius: 0.4rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dot-container ul{
    list-style: none;
    display: flex;
}

.dot-container{
    position: relative;
    right: -25px;
}

/*My Portfolio End*/

/*Card */

.card-container{

	background: #3a86ff;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-radius: .9rem;
	margin-top: 2rem;
	margin-bottom: 2rem;


}
/*Finished Card*/